<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated options -->
      <package
            uri="http://www.muml.org/uppaal/options/1.0.0"
            class="org.muml.uppaal.options.OptionsPackage"
            genModel="model/options.genmodel"/>
   </extension>

</plugin>
