/.UppaalXMLDescriptionLabelProvider.xtendbin
/.UppaalXMLLabelProvider.xtendbin
/.UppaalXMLDescriptionLabelProvider.java._trace
/.UppaalXMLLabelProvider.java._trace
/UppaalXMLDescriptionLabelProvider.java
/UppaalXMLLabelProvider.java
