<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
    <unit
          name="PredefinedTypeLibrary"
          namespace="org.muml.uppaal.types.qvto">
       <library
             class="org.muml.uppaal.types.qvto.PredefinedTypeLibrary"
             name="PredefinedTypeLibrary">
          <metamodel
                nsURI="http://www.eclipse.org/emf/2002/Ecore">
          </metamodel>
          <metamodel
                nsURI="http://www.muml.org/uppaal/1.0.0">
          </metamodel>
          <metamodel
                nsURI="http://www.muml.org/uppaal/types/1.0.0">
          </metamodel>
       </library>
    </unit>
   </extension>
</plugin>
