<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   







   
   
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.muml.core.export"
            class="org.muml.uppaal.ui.wizard.UppaalExportWizard"
            id="org.muml.uppaal.export"
            name="Uppaal EMF to Uppaal XML">
      </wizard>
   </extension>

</plugin>
