<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated requirements -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.muml.uppaal.requirements.presentation.RequirementsModelWizardID"
            name="%_UI_RequirementsModelWizard_label"
            class="org.muml.uppaal.requirements.presentation.RequirementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RequirementsModelFile.gif">
         <description>%_UI_RequirementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated requirements -->
      <editor
            id="org.muml.uppaal.requirements.presentation.RequirementsEditorID"
            name="%_UI_RequirementsEditor_label"
            icon="icons/full/obj16/RequirementsModelFile.gif"
            extensions="requirements"
            class="org.muml.uppaal.requirements.presentation.RequirementsEditor"
            contributorClass="org.muml.uppaal.requirements.presentation.RequirementsActionBarContributor">
      </editor>
   </extension>

</plugin>
